<?xml version="1.0"?>
<config>
  <modules>
    <Evobilis_Exitmessage>
      <version>0.1.0</version>
    </Evobilis_Exitmessage>
  </modules>
  <global>
    <helpers>
      <exitmessage>
        <class>Evobilis_Exitmessage_Helper</class>
      </exitmessage>
    </helpers>
	<blocks>
	  <exitmessage>
		<class>Evobilis_Exitmessage_Block</class>
	  </exitmessage>
	</blocks>
	<models>
	  <exitmessage>
		<class>Evobilis_Exitmessage_Model</class>
		<resourceModel>exitmessage_mysql4</resourceModel>
	  </exitmessage>
	  <exitmessage_mysql4>
		<class>Evobilis_Exitmessage_Model_Mysql4</class>
		<entities>		  
			  <exitmessage>
				<table>evobilis_exitmsg_feedback</table>
			  </exitmessage>
        </entities>
	  </exitmessage_mysql4>
	</models>
	<resources>
	  <exitmessage_setup>
		<setup>
		  <module>Evobilis_Exitmessage</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </exitmessage_setup>
	  <exitmessage_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </exitmessage_write>
	  <exitmessage_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </exitmessage_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <exitmessage>
	    <use>admin</use>
		<args>
		  <module>Evobilis_Exitmessage</module>
		  <frontName>exitmessage</frontName>
		</args>
	  </exitmessage>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <exitmessage module="exitmessage">
		<title>Feedback</title>
		<sort_order>100</sort_order>
		<children>
		  <exitmessage module="exitmessage">
		    <title>View Feedbacks</title>
			<sort_order>0</sort_order>
			<action>exitmessage/adminhtml_exitmessage</action>
		  </exitmessage>
		</children>
	  </exitmessage>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<exitmessage translate="title" module="exitmessage">
			  <title>Exitmessage</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <exitmessage translate="title">
			<title>Feedback</title>
			<sort_order>0</sort_order>
		  </exitmessage>
			  </children>
			</exitmessage>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<exitmessage>
		  <file>exitmessage.xml</file>
		</exitmessage>
	  </updates>
	</layout>
  </adminhtml>
   <frontend>
	   <translate>
    <modules>
        <Evobilis_ExitMessage>
            <files>
                <default>Evobilis_ExitMessage.csv</default>
            </files>
        </Evobilis_ExitMessage>
    </modules>
</translate>
	   
                <routers>
                        <exitmessage>
                                <use>standard</use>
                                <args>
                                      <module>Evobilis_ExitMessage</module>
                                      <frontName>exitmessage</frontName>
                                </args>
                        </exitmessage>
						
						</routers>
		<layout>
			<updates>
				<exitmessage>
		   		      <file>exitmessage.xml</file>
				</exitmessage>
			</updates>
       		</layout>
        </frontend>
</config> 