.exit-overlay
{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:9999 !important;
	background:rgba(0,0,0,0.75);
	display:none;
}
.exit-overlay-msg {
	text-align:left;
	margin: auto;
	width: 350px;
	background:rgba(255,255,255,1);top: 150px;
	position: relative;
	padding:20px;
}
